.movieDetails {
    margin-left: 250px;
    margin-right: 250px;
    align-content: center;
}

#poster {
    float:left;
    object-fit:cover;
    margin-right:75px;
}

#posterText {
    max-width: 800px;
}