.movies {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.moviePosters {
    padding: 10px;
    max-width: 225px;
}

img {
    max-width: 200px;
    max-height: 250px;
}
